#main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#logo-fg {
  transform: translate(-100%, 25%);
  opacity: 0;
}

@media (max-width: 640px) {
  .title-highlight {
    background: radial-gradient(
        75.3% 65106.57% at 1.06% -86.9%,
        rgba(12, 80, 105, 0.2) 0%,
        rgba(12, 74, 110, 0) 100%
      )
      linear-gradient(89.96deg, #beebff -0.07%, rgba(145, 218, 252, 0) 113.39%);
    transform: rotate(-1.13deg);
    opacity: 0;
  }
}

@media (max-width: 640px) {
  .hero-header::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 20%;
    height: 450%;
    opacity: 40%;
    background: radial-gradient(
        78.47% 16.24% at 0% 39.21%,
        rgba(221, 214, 254, 0.44) 0%,
        rgba(217, 217, 217, 0) 100%
      ),
      radial-gradient(
        77.5% 23.35% at -3.06% 47.79%,
        rgba(14, 165, 233, 0.294) 0%,
        rgba(217, 217, 217, 0) 100%
      );
    z-index: -1;
  }
}

.hero-header {
  display: grid;
  grid-template-columns: 0.1fr 3fr;
  place-items: center;
  text-align: center;
}

.title-hero {
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgb(174, 213, 228)
  );
  padding: 5px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: unset;
  background-clip: text;
}

#social-platform {
  transform: translateX(100%);
  opacity: 0;
}

.sub-title {
  display: grid;
  place-items: center;
  text-align: center;
}

.header-subtitle {
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgb(174, 213, 228)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: unset;
  background-clip: text;
}

.header-service {
  padding: 1rem 0;
  margin-bottom: 20px;
  text-align: center;
  margin-top: -8rem;
}
.header-service p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
